{
  "SUPABASE_URL": "https://bsekhzbfvgzacabgzkfw.supabase.co",
  "SUPABASE_ANON_KEY": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJzZWtoemJmdmd6YWNhYmd6a2Z3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc0ODE0NjEsImV4cCI6MjEwMzA1NzQ2MX0.F_kAe8hAkfQCxi3Yqb0Twwf6gsrBM_RZIVPBt6H6-eI",

  "GOOGLE_WEB_CLIENT_ID": "",
  "APPLE_SERVICE_ID": ""
}
